<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>

    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

  </head>


  <body>
    <h1>Graphs</h1>

    <ul class = "topnav">
      <li><a href="/">Home</a></li>
      <li><a href="/metrics">Metrics</a></li>
      <li><a class="active" href="/graphs">Graphs</a></li>
      <li><a href="/patientform">Assess Risk</a></li>
    </ul>



  </body>
</html>