
<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>

    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

  </head>


  <body>
    <h1>Obesity Population Health Tool</h1>
    <p>Group 4 - CS6440</p>

    <ul class = "topnav">
      <li><a class="active" href="/">Home</a></li>
      <li><a href="/metrics">Metrics</a></li>
      <li><a href="/graphs">Graphs</a></li>
      <li><a href="/patientform">Assess Risk</a></li>
    </ul>


    <!-- <button onclick="window.location.href='/metrics'">View Metrics</button><br>
    <button onclick="window.location.href='/add'"> Add Patient</button><br>
    <button onclick="window.location.href='/update'"> Update Patient</button> -->
  </body>
</html>