<!DOCTYPE html>
<html>
<head>
    <title>Table</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <form method="POST">
        <label for="gender">Select a gender:</label>
        <select name="gender" id="gender">
            <option value="">All genders</option>
            {% for gender in genders %}
                {% if selected_gender == gender %}
                    <option value="{{ gender }}" selected>{{ gender }}</option>
                {% else %}
                    <option value="{{ gender }}">{{ gender }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br>
        <label for="race">Select a race:</label>
        <select name="race" id="race">
            <option value="">All races</option>
            {% for race in races %}
                {% if selected_race == race %}
                    <option value="{{ race }}" selected>{{ race }}</option>
                {% else %}
                    <option value="{{ race }}">{{ race }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br>
        <button type="submit">Filter</button>
    </form>
    {{ table|safe }}
</body>
</html>
